.zLoginTitle {
	font-size:16px;
	font-weight:bold;
	color:#619958;
}
.zDivCenter {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.zMaxWidth {
	max-width: 950px;
}
.naClassHide {
	display: none;
}
.totals {
	background: #339966;
	font-weight: bold;
}
.table-bordered,
.table-bordered th,
.table-bordered td {
	border: 1px solid #000 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;     /* remove the gap so it doesn't close*/
}
.zBG-lessdark {
	background: #c2c2c2
}
.zTB-bordery {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
}
/*
thead tr th a {
	color:black;
}

thead tr th a.desc {
	color:red;
}

thead tr th a.asc {
	color:green;
}
*/